function Main.main 1
push constant 1
push constant 2
call Cell_Game.new 2
pop local 0
push local 0
push constant 0
call Cell_Game.choose_tuan 2
pop temp 0
push local 0
call Cell_Game.auto_slow 1
pop temp 0
push local 0
call Cell_Game.dispose 1
pop temp 0
push constant 0
return
